{
     "class": "AS3",
     "action": "deploy",
     "persist": true,
     "declaration": {
         "class": "ADC",
         "schemaVersion": "3.0.0",
         "id": "example-declaration-01",
         "label": "Sample 1",
         "remark": "Simple HTTPS application with LE pool",
         "{{tenant_name}}": {
             "class": "Tenant",
             "defaultRouteDomain": 0,
             "{{application_name}}": {
                 "class": "Application",
                 "template": "https",
                 "serviceMain": {
                   "class": "Service_HTTPS",
                   "virtualAddresses": [
                     "{{virtual_address}}"
                   ],
                   "snat": "{{snat_value}}",
                   "pool": "{{pool_name}}",
                   "serverTLS": "webtls",
                   "profileHTTP": { "bigip": "{{http_pf}}" },
                   "profileTCP": { "bigip": "{{tcp_pf}}" },
                   "persistenceMethods": [{"bigip": "{{persist_pf}}"}]
                 },
                 "webtls": {
                     "class": "TLS_Server",
                     "certificate": [{
                        "certificate": "webcert"
                      }]
                 },
                 "webcert": {
                      "class": "Certificate",
                      "certificate": {"bigip": "{{cert_name}}"},
                      "privateKey":  {"bigip": "{{cert_key}}"},
                      "passphrase": {
                         "ciphertext": "{{ssl_passphrase}}",
                         "protected": "{{passphrase_protected}}"
                      }
                 },
                 {% for virtual in virtual_servers %}
                 "{{virtual.name}}": {
                   "class": "Service_HTTPS",
                   "virtualAddresses": [
                     "{{virtual.ip}}"
                   ],
                   "snat": "{{snat_value}}",
                   "pool": "{{pool_name}}",
                   "serverTLS": "webtls"
                 },
                 {% endfor %}
                 "{{pool_name}}": {
                     "class": "Pool",
                     "monitors": [
                         "http"
                     ],
                     "loadBalancingMode": "{{lb_mode}}",
                     "slowRampTime": {{slow_rptime}},
                     "members": [
                      {% for member in pool_members %}
                        {
                          "enable": {{member.status}},
                          "servicePort": {{member.port}},
                          "serverAddresses": [
                              "{{member.ip}}"
                          ]
                        },
                      {% endfor %}
                     ]
                 }
             }
         }
     }
 }
